# Dependencies
node_modules

# Build
dist
build

# Environment
.env
.env.local
.env.production

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# Logs
*.log
npm-debug.log*
.env*.local
